<header>
    <nav>
        <a href="home.html"></a>
        <a href="about.html"></a>
    </nav>
</header>
<main>
    <h1>Contact Page</h1>
    <p>
        My name is Esther Kim. I am from
        Irvine, CA. I have learned HTML
        using Windows, and now I am excited
        to learn HTML using a Mac!
    </p>
    <p>
        Connect with me on LinkedIn by clicking
        <a href="https://www.linkedin.com/in/kimesther117/">here</a>.
    </p>
    <div>
        <div>I love meeting new people!</div>
    </div>
</main>
<footer>
    <div>
        <div>Copyright 1982 by me!</div>
        <div>I like pie</div>
    </div>
</footer>
